In [26]:
import numpy as np
import pandas as pd

In [61]:
headers = ['checking', 'duration', 'history', 'purpose', 'amount', 'savings', 'employment', 'installmnent', 'status-sex', 'd-g', 'residence', 'property', 'age', 'installment-plans', 'housing', 'existing-credits', 'job', 'num-liable', 'phone', 'foreign-worker', 'good-bad']

In [62]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/german.data', header=None, names=headers, delim_whitespace=True)

In [63]:
df.head()

,checking,duration,history,purpose,amount,savings,employment,installmnent,status-sex,d-g,...,property,age,installment-plans,housing,existing-credits,job,num-liable,phone,foreign-worker,good-bad
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [66]:
df2 = pd.get_dummies(df)

In [80]:
X = df2.drop(['good-bad'], axis=1)

In [81]:
y = df2[['good-bad']]